@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
margin: 0;
box-sizing: border-box;
font-family: 'Merriweather', serif;
}

h1
{
    text-align: center;
    margin-top:2rem;
    font-style: italic;
    margin-bottom: 1rem;
}

button{
    background-color: #74b9ff;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
textarea{
    height: 20rem;
    margin-left: 17rem;
    width: 45rem;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}
ul
{
    list-style: none;
    margin-left: 14.5rem;
}
.listyle{
    /* background-color: grey; */
  
    margin-top: 5px;
    cursor: pointer;
    

}
.done
{
    text-decoration: line-through;
    background-color: aliceblue;
}
.addButton
{
    margin-left: 58rem;
}
